body {  
    min-width:640px;
 }
 textarea{
    width:100px;
    height:30px;
    resize: none;
}
table{
    width:640px;
    border:none;
    color:white;
}
th{
    padding:  10px;
    padding-right: 0px;
    border:none;
    border-bottom:1px solid white;
}

td{
    padding:  10px;
    padding-right: 0px;
    border:none;
}
.align-right{
    text-align: right;
}
.container{
    margin: auto;
    padding: 5px;
}
.title{
    max-width:100%; 
}
#titleimage{
    max-width:100%; 
}
#canvas-div{
    padding:0px;
}
#game-canvas{
    width:640px;
    height:384px;
    background:#7E7F00;
    border: 1px solid black;
}
.buttons{
    height:100px;
    width:640px;
    padding-top:5px;
    padding-bottom:5px;
}
.butt{
    height:100%;
}
.float-left{
    float:left;
    width:50%;
}
.float-right{
    float:right;
    width:50%;
}
.header{
    background:yellow;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height:30px;
    width:640px;
    padding-top:0px;
    margin-bottom:0px;
    vertical-align:middle;
}
.text-boxes{
    height:20px;
    width:640px;
    margin-bottom:20px;
}
#instructions{
    color:white;
}
#scores-table{
    display:none;
}
#scores-div{
    color:white;
    height:1000px;
}
#level-score-selector{
    color:black;
}
#scores-title{
    color:white;
}
#notification-modal {
    position:absolute;
    left: 500px;
    top: 100px;
    border: 2px solid black;
    border-radius: 30px;
    margin: auto auto;
    width: 400px;
    height: 200px;
    display: none;
    z-index: 2;
    background: #C2C2C2;
    text-align:center;
    vertical-align: bottom;
    font-size: 270%;
    -moz-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    box-shadow:10px 10px 10px rgba(0,0,0,0.3);
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}
#notif-close-button{
    position:absolute;
    bottom:0;
}
#notif-head{
    text-shadow: none;
    background:#FBFC0B;
    height:40px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 28px 28px 0px 0px;
    border-radius: 28px 28px 0px 0px; 
    border-bottom: 2px solid black;
    z-index: 3;
    -moz-box-shadow:0px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 3px 0px rgba(0,0,0,0.3);
    box-shadow:0px 3px 0px rgba(0,0,0,0.3);
    font-size:60%;
    text-align:left;
}
#tittle{
     margin-left:20px;
}